{% extends "base.html" %}
{% block title %} About {% endblock %}
{% block content %} 
<div class="d-flex justify-content-center">
    <div class="d-flex flex-column" style="max-width:60vw">
        <h1>About Predict BioActivity</h1>
        <p>Welcome to Predict BioActivity a tool designed for predicting molecular bioactivity, specifically targeting Human Acetylcholinesterase (PDB ID: 4EY7), an enzyme closely associated with Alzheimer's pathology.</p>

        <h2>key Features:</h2>
        <li>
        <b>Targeted Bioactivity Prediction:</b> Our application specializes in predicting the bioactivity of potential drug compounds against Human Acetylcholinesterase. By focusing on this key enzyme, we aim to contribute significantly to the development of effective Alzheimer's treatments.
        </li>
        <li>
        <b>pIC50 Prediction:</b> The central metric used in our application is pIC50, the negative logarithmic scale of the IC50 value. The IC50 (half-maximal inhibitory concentration) is a crucial measure in pharmacology, representing the concentration of a substance required to inhibit a specific biological process by 50%. The pIC50 value thus provides a more convenient and interpretable scale for evaluating the efficacy of potential inhibitors.
        </li>
        <li>
        <b>Bioactivity Classification:</b> Moreover, our application features a bioactivity classification system based on pIC50 scores. This system categorizes compounds into:
        <br>
        <br>
        <p><b>Active:</b> for compounds with a pIC50 score greater than 6, indicating strong inhibitory potential.</p>
        <p><b>Inactive:</b> for compounds with a pIC50 score less than 5, signifying lower inhibitory capacity.</p>
        <p>This classification assists researchers in rapidly identifying compounds with the most promising profiles for further investigation.</p>
        </li>
        <li>
        <b>Advanced Modeling with Random Forest:</b> To ensure reliable and interpretable predictions, our application employs a Random Forest algorithm. This method not only offers high accuracy but also allows users to understand the contributing factors behind each prediction. The Random Forest model is trained on a comprehensive dataset, ensuring robustness and reliability in its predictions.
        </li>
        <li>
        <b>Application in Drug Discovery:</b> By utilizing our application, researchers and pharmacologists can rapidly assess the potential of various compounds as inhibitors of Human Acetylcholinesterase. This capability accelerates the initial stages of drug discovery, paving the way for more focused and effective development of Alzheimer's treatments.
        </li>
        <br>
        <p>Our application represents a fusion of advanced computational methods and deep biological insights. By providing a user-friendly platform for bioactivity prediction, we aim to empower researchers in their quest to discover new and effective drugs against Alzheimer's disease.</p>
    </div>
</div>
{% endblock %}