{% extends "base.html" %}
{% load static %}
{% block title %} Help {% endblock %}
{% block content %} 

<div class="d-flex justify-content-center">
    <div class="d-flex flex-column" style="max-width:60vw">
        <h1>How to Use:</h1>
        <ol>
            <li>Choose a file to upload by clicking the <b>Choose File</b> button.</li>
            <li>Select the file containing a list of SMILES strings that you wish to predict. Ensure the file is in .csv, .xlsx, or .txt format. Here's an example of a SMILES string for input:</li>
            <div class="card m-2 d-flex align-items-center" style="width: 30rem;">
                    <div class="card-body">
                        CCOP(=S)(OCC)SCSP(=S)(OCC)OCC
                        CC(C)OC1=CC=CC=C1OC(=O)NC
                        CNC(=O)CSP(=S)(OC)OC
                        CCOP(=S)(OCC)OC1=CC=C(C=C1)[N+](=O)[O-]
                        COP(=O)(C(C(Cl)(Cl)Cl)O)OC
                        COP(=S)(OC)SCN1C(=O)C2=CC=CC=C2N=N1
                        CCOP(=S)(OCC)OC1=NC(=C(C=C1Cl)Cl)Cl
                        COC1=C(C=C2C(=C1)CC(C2=O)CC3CCN(CC3)CC4=CC=CC=C4)OC
                        CC1(CC2=C(O1)C(=CC=C2)OC(=O)NC)C
                        CC(=O)NP(=O)(OC)SC
                    </div>
                </div>
            <li>Next, click the <b>Predict</b> button to obtain the predictions.</li>
            <li>Once the results page is displayed, you can download the prediction results by clicking the <b>Download as CSV</b> button.</li>
            <li>Analyze each molecule by clicking the <b>Analyze</b> button.</li>
            <li>On the Analysis page, you can download the PDB file of a molecule by clicking the <b>Download PDB</b> button below the molecule visualization.</li>
             <img src="{% static 'images/molecule_viz.png' %}" style="height:20rem" alt="Molecule">
        </ol>
    </div>
</div>
{% endblock %}